<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jQuery.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $('document').ready(function () {
            $.ajaxSetup({ cache: false }); //This line is important if you make AJAX calls that have the same inputs on a regular basis.
        });
    </script>

    @RenderSection("HeadScripts", false)
</head>

<body>
    <input type="hidden" id="hdnMetadata" />
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">Tic Tac Total Domination</a>

                @if (HttpContext.Current.Session["playerName"] != null)
                { 
                <div class="pull-right">
                    Welcome - @HttpContext.Current.Session["PlayerName"]
                </div>
                }
            </div>
        </div>
        
        @RenderBody()

        <div class="navbar navbar-fixed-bottom">
            <p>&copy; Codeketeers 2013</p>
        </div>
    </div>
    @RenderSection("TailScripts", false)
</body>
</html>
